.banner {
  position: relative;
  width: 100%;
  height: 800px;
  background: url(../assets/images/banner.jpg) no-repeat;
  background-size: cover;
}
.banner .banner_box {
  margin-top: 300px;
  position: absolute;
  text-align: center;
  width: 100%;
  height: auto;
  font-size: 2.5rem;
}
.banner .banner_box h3 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-family: OSLight;
}
.banner .banner_box h3 span {
  color: rgba(252, 172, 69);
  font-family: OSBold;
}
.banner .banner_box .banner_info {
  position: absolute;
  margin: 10px auto;
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: OSLight;
}
.banner .banner_box .banner_info span {
  color: #fff;
  font-family: OSBold;
}
.banner .banner_box .banner_more {
  margin-top: 8em;
  margin-left: auto;
  margin-right: auto;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.banner .banner_box .banner_more a {
  text-decoration: none !important;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 1em;
}
.banner .banner_box .banner_more:hover {
  transition: all 0.3s;
  transform: translateY(-10px);
  box-shadow: 0 0 20px 5px #1dbae5;
}
.about {
  margin: 0 auto;
  padding: 7em 0 7em 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
}
.about .about_img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.about .about_right {
  width: 100%;
  height: 450px;
}
.about .about_right .about_title {
  width: 100%;
  height: auto;
}
.about .about_right .about_title p {
  font-size: 1.5em;
  color: #9e9e9e;
}
.about .about_right .about_title h3 {
  margin-top: 0.5em;
  font-size: 2.5em;
}
.about .about_right .about_title h3 span:first-child {
  border-bottom: 5px solid rgba(252, 172, 69);
}
.about .about_right .about_title h3 span:last-child {
  font-family: OSBold;
  font-weight: 700;
}
.about .about_right .about_con {
  font-size: 1.3em;
  font-family: OSLight;
  margin: 1.2em 0;
}
.about .about_right ul .about_li {
  margin: 0.5em 0;
  line-height: 22px;
}
.about .about_right a {
  margin: 3em 0;
  display: flex;
  color: #5b5b5b;
  width: 200px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 5px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.about .about_right a i {
  vertical-align: middle;
}
.team {
  width: 100%;
  height: auto;
  background-color: rgba(17, 17, 17);
  padding: 5em 0;
}
.team .team_box {
  height: auto;
}
.team .team_box h3 {
  font-size: 2.5em;
  color: #fff;
  text-align: center;
  background: url(../assets/images/team-background.png) no-repeat bottom center;
  padding-bottom: 1em;
  margin-bottom: 2em;
}
.team .team_box h3 span {
  font-family: OSBold;
  font-weight: 800;
  text-transform: uppercase;
}
.team .team_box .team_media {
  padding: 0;
  margin-bottom: 3em;
  text-align: center;
  color: #fff;
}
.team .team_box .team_media .team_lefts a img {
  padding: 0;
  border-radius: 50%;
  display: inline-block;
}
.team .team_box .team_media .team_rights {
  padding: 0;
  color: #fff !important;
}
.team .team_box .team_media .team_rights h1 {
  margin: 0;
  font-size: 1.2em;
  font-family: OSBold;
}
.team .team_box .team_media .team_rights h4 {
  font-family: OSLight;
}
.team .team_box .team_media .team_rights p {
  margin-top: 5px;
  font-family: OSLight;
}
.team .team_box ul {
  width: 100%;
  height: 10px;
  display: flex;
  margin: 0px auto;
  line-height: 10px;
  flex-direction: row;
  justify-content: center;
}
.team .team_box ul li {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  display: inline-block;
  background-color: white;
}
.team .team_box ul li:first-child {
  margin: 0;
}
.team .team_box ul li a {
  width: 100%;
  height: 100%;
}
.team .team_box ul li a:hover {
  background-color: rgba(252, 172, 69);
}
.services {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  padding: 5em 0;
}
.services .big_box .big_title h1 {
  text-transform: uppercase;
  font-family: OSLight;
  font-size: 2.5em;
  color: #000000;
  text-align: center;
  background: url(../assets/images/team-background.png) no-repeat bottom center;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.services .big_box .big_title h1 span {
  font-family: OSBold;
  font-weight: 800;
  text-transform: uppercase;
}
.services .big_box .big_p {
  text-align: center;
  font-size: 1em;
  color: #999999;
}
.services .big_box .big_media {
  padding: 0;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
  color: #000000;
}
.services .big_box .big_media .big_lefts a {
  box-sizing: border-box;
  border-radius: 50%;
  border: 0.5em solid rgba(252, 172, 69);
}
.services .big_box .big_media .big_lefts a img {
  padding: 0;
  border-radius: 50%;
  display: inline-block;
}
.services .big_box .big_media .big_rights {
  padding: 0;
  color: #000000 !important;
}
.services .big_box .big_media .big_rights h1 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: OSBold;
}
.services .big_box .big_media .big_rights p {
  margin-top: 5px;
  font-family: OSLight;
}
.clients {
  width: 100%;
  height: auto;
  background-color: #000000;
  padding: 5em 0;
}
.clients .clients_box .clients_title h1 {
  text-transform: uppercase;
  font-family: OSLight;
  font-size: 2.5em;
  color: #ffffff;
  text-align: center;
  background: url(../assets/images/team-background.png) no-repeat bottom center;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.clients .clients_box .clients_title h1 span {
  font-family: OSBold;
  font-weight: 800;
  text-transform: uppercase;
}
.clients .clients_box .clients_con {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.clients .clients_box .clients_con img {
  margin: 1em 1em;
  display: inline-block;
}
.clients .clients_box ul {
  width: 100%;
  height: 10px;
  display: flex;
  margin: 0px auto;
  line-height: 10px;
  flex-direction: row;
  justify-content: center;
}
.clients .clients_box ul li {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  display: inline-block;
  background-color: white;
}
.clients .clients_box ul li:first-child {
  margin: 0;
}
.clients .clients_box ul li a {
  width: 100%;
  height: 100%;
}
.clients .clients_box ul li a:hover {
  background-color: rgba(252, 172, 69);
}
.work {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  padding: 5em 0;
}
.work .work_box .work_title h1 {
  text-transform: uppercase;
  font-family: OSLight;
  font-size: 2.5em;
  color: #000000;
  text-align: center;
  background: url(../assets/images/team-background.png) no-repeat bottom center;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.work .work_box .work_title h1 span {
  font-family: OSBold;
  font-weight: 800;
  text-transform: uppercase;
}
.work .work_box .work_con {
  text-align: center;
}
.work .work_box .work_con h1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #999999;
}
.work .work_box .work_item {
  margin: 2em 0 ;
  width: 100%;
  height: auto;
}
.work .work_box .work_item .work_list {
  display: flex;
  width: 100%;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.work .work_box .work_item .work_list .work_left {
  width: 30%;
}
.work .work_box .work_item .work_list .work_left p {
  text-transform: uppercase;
  font-size: 1.2em;
}
.work .work_box .work_item .work_list .work_right ul li {
  display: inline-block;
}
.work .work_box .work_item .work_list .work_right ul li a {
  color: #999999;
  text-decoration: none;
}
.work .work_box .work_item .work_list .work_right ul li::after {
  content: "|";
  color: #999999;
  margin: 0 0.5em;
}
.work .work_box .work_item .work_list .work_right ul li:last-child::after {
  content: "";
}
.work .work_box .work_item .work_list .work_select {
  display: none;
}
.work .work_box .work_thumb_box {
  padding-left: 0;
  padding-right: 0;
}
.work .work_box .work_thumb_box .work_thumb {
  position: relative;
  margin-bottom: 2em;
  overflow: hidden;
}
.work .work_box .work_thumb_box .work_thumb div {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.work .work_box .work_thumb_box .work_thumb div img {
  padding-left: 0;
  padding-right: 0;
}
.work .work_box .work_thumb_box .work_thumb div .work_thumb_el {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0);
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.2s;
  transform: translateY(440px);
}
.work .work_box .work_thumb_box .work_thumb div .work_thumb_el h1 {
  margin-top: 40px;
  font-size: 1.3em;
  font-weight: 700;
  color: #FFF;
}
.work .work_box .work_thumb_box .work_thumb div .work_thumb_el p {
  margin-top: 5px;
  margin-bottom: 40px;
  font-size: 1.1em;
  color: #9999;
}
.work .work_box .work_thumb_box .work_thumb div .work_thumb_el .thumb_push {
  border: 2px solid #44db26;
  border-radius: 50%;
  text-align: center;
  font-size: 2.5em;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  color: #44db26;
  line-height: 40px;
}
.work .work_box .work_thumb_box .work_thumb div:hover .work_thumb_el {
  transform: translateY(0px);
}
.testimonials {
  width: 100%;
  height: auto;
  background-color: #000000;
  padding: 5em 0;
}
.testimonials .testimonials_box .testimonials_title h1 {
  text-transform: uppercase;
  font-family: OSLight;
  font-size: 2.5em;
  color: #ffffff;
  text-align: center;
  background: url(../assets/images/team-background.png) no-repeat bottom center;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.testimonials .testimonials_box .testimonials_title h1 span {
  font-family: OSBold;
  font-weight: 800;
  text-transform: uppercase;
}
.testimonials .testimonials_box .testimonials_con {
  text-align: center;
}
.testimonials .testimonials_box .testimonials_con h1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}
.testimonials .testimonials_box .testimonials_con h3 {
  letter-spacing: 1px;
  color: #999999;
  margin-top: 3em;
  margin-bottom: 3em;
}
.testimonials .testimonials_box ul {
  width: 100%;
  height: 10px;
  display: flex;
  margin: 0px auto;
  line-height: 10px;
  flex-direction: row;
  justify-content: center;
}
.testimonials .testimonials_box ul li {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  display: inline-block;
  background-color: white;
}
.testimonials .testimonials_box ul li:first-child {
  margin: 0;
}
.testimonials .testimonials_box ul li a {
  width: 100%;
  height: 100%;
}
.testimonials .testimonials_box ul li a:hover {
  background-color: rgba(252, 172, 69);
}
.contact {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  padding: 5em 0;
}
.contact .contact_box .contact_title h1 {
  text-transform: uppercase;
  font-family: OSLight;
  font-size: 2.5em;
  color: #000000;
  text-align: center;
  background: url(../assets/images/team-background.png) no-repeat bottom center;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.contact .contact_box .contact_title h1 span {
  font-family: OSBold;
  font-weight: 800;
  text-transform: uppercase;
}
.contact .contact_box .contact_con {
  margin-bottom: 3em;
  text-align: center;
}
.contact .contact_box .contact_con h1 {
  color: #999999;
}
.contact .contact_box .tab {
  padding-left: 15px;
  padding-right: 15px;
}
.contact .contact_box .tab .tab_from .tab_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}
.contact .contact_box .tab .tab_from .tab_top .top_name {
  width: 49%;
  height: auto;
}
.contact .contact_box .tab .tab_from .tab_top .top_name h5 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-size: 1.3em;
  color: #999999;
}
.contact .contact_box .tab .tab_from .tab_top .top_name h5 sup {
  font-size: 0.8em;
  color: red;
}
.contact .contact_box .tab .tab_from .tab_top .top_name input {
  outline: none;
  width: 100%;
  height: 50px;
}
.contact .contact_box .tab .tab_from .tab_top .top_email {
  width: 49%;
  height: auto;
}
.contact .contact_box .tab .tab_from .tab_top .top_email h5 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-size: 1.3em;
  color: #999999;
}
.contact .contact_box .tab .tab_from .tab_top .top_email h5 sup {
  font-size: 0.8em;
  color: red;
}
.contact .contact_box .tab .tab_from .tab_top .top_email input {
  outline: none;
  width: 100%;
  height: 50px;
}
.contact .contact_box .tab .tab_from .tab_center {
  margin-top: 2em;
  width: 100%;
  height: auto;
}
.contact .contact_box .tab .tab_from .tab_center h5 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-size: 1.3em;
  color: #999999;
}
.contact .contact_box .tab .tab_from .tab_center h5 sup {
  font-size: 0.8em;
  color: red;
}
.contact .contact_box .tab .tab_from .tab_center textarea {
  outline: none;
  width: 100%;
  height: 200px;
}
.contact .contact_box .tab .tab_from .tab_bottom {
  text-align: right;
  margin-top: 3em;
}
.contact .contact_box .tab .tab_from .tab_bottom button {
  color: #FFF;
  width: 11em;
  height: 3em;
  font-weight: 700;
  background-color: #fcac45;
  border: 0;
}
.foot {
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.foot .foot_box {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 100px;
}
.foot .foot_box .box_left {
  width: 50%;
  height: auto;
  text-transform: uppercase;
  font-family: OSLight;
  font-size: 1em;
  color: #ffffff;
}
.foot .foot_box .box_left span {
  font-family: OSBold;
  font-weight: 800;
  text-transform: uppercase;
}
.foot .foot_box .box_right {
  width: 50%;
  height: auto;
}
.foot .foot_box .box_right .right_flex {
  margin: 0 auto;
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.foot .foot_box .box_right .right_flex a {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.foot .foot_box .box_right .right_flex a img {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #9999;
}
.up {
  width: 70px;
  height: 70px;
  position: fixed;
  right: 45px;
  bottom: 45px;
}
.up a img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 1150px) {
  .banner {
    height: 700px;
  }
  .banner .banner_box {
    margin: 8em auto;
  }
  .banner .banner_box h3 {
    font-size: 2.5rem;
  }
  .banner .banner_box .banner_info {
    font-size: 1rem;
  }
  .banner .banner_box .banner_more {
    margin-top: 5em;
  }
}
@media screen and (max-width: 1000px) {
  .about {
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 15px;
    padding-right: 15px;
  }
  .about .about_img {
    display: none;
  }
  .about .about_right {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    height: 436px;
  }
}
@media screen and (max-width: 992px) {
  .team .team_box .team_media .team_lefts a > img {
    border-radius: 0;
  }
  .team .team_box .team_media .team_rights {
    margin-bottom: 3em;
    text-align: left;
  }
  .services .big_box .big_p {
    margin-bottom: 3em;
  }
  .services .big_box .big_media {
    margin-top: 0;
  }
  .services .big_box .big_media .big_lefts a > img {
    border-radius: 0;
  }
  .services .big_box .big_media .big_rights {
    margin-bottom: 3em;
    text-align: left;
  }
  .work .work_box .work_thumb_box .work_thumb div .work_thumb_el h1 {
    margin-top: 60px;
  }
  .contact .contact_box .tab .tab_from .tab_top {
    align-items: center;
    flex-direction: column;
    align-content: flex-start;
  }
  .contact .contact_box .tab .tab_from .tab_top .top_name {
    width: 100%;
    height: auto;
  }
  .contact .contact_box .tab .tab_from .tab_top .top_name h5 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-size: 1em;
    color: rgba(144, 144, 144, 0.6);
  }
  .contact .contact_box .tab .tab_from .tab_top .top_name h5 sup {
    color: red;
  }
  .contact .contact_box .tab .tab_from .tab_top .top_name input {
    outline: none;
    width: 100%;
    height: 50px;
    font-size: 0.9em;
  }
  .contact .contact_box .tab .tab_from .tab_top .top_email {
    width: 100%;
    height: auto;
  }
  .contact .contact_box .tab .tab_from .tab_top .top_email h5 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-size: 1em;
    color: rgba(144, 144, 144, 0.6);
  }
  .contact .contact_box .tab .tab_from .tab_top .top_email h5 sup {
    color: red;
  }
  .contact .contact_box .tab .tab_from .tab_top .top_email input {
    outline: none;
    width: 100%;
    height: 50px;
    font-size: 0.9em;
  }
  .contact .contact_box .tab .tab_from .tab_center h5 {
    font-size: 1em;
  }
  .contact .contact_box .tab .tab_from .tab_center textarea {
    font-size: 0.9em;
  }
  .contact .contact_box .tab .tab_from .tab_bottom {
    text-align: center;
  }
  .contact .contact_box .tab .tab_from .tab_bottom button {
    width: 14em;
  }
  .foot .foot_box {
    padding: 30px 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .foot .foot_box .box_left {
    width: 100%;
    text-align: center;
    line-height: 50px;
  }
  .foot .foot_box .box_right {
    width: 100%;
    height: 80px;
  }
  .foot .foot_box .box_right .right_flex {
    width: 100%;
  }
}
@media screen and (max-width: 780px) {
  .services .big_box .big_p {
    padding-left: 1em;
    padding-right: 1em;
  }
  .services .big_box .big_media .big_lefts a {
    border: 0.4em solid rgba(252, 172, 69);
  }
  .testimonials .testimonials_box .testimonials_title h1 {
    font-size: 1.7em;
  }
  .testimonials .testimonials_box .testimonials_title h3 {
    margin-bottom: 2em;
  }
  .testimonials .testimonials_box .testimonials_con {
    margin-left: 1em;
    margin-right: 1em;
  }
  .work .work_box .work_title h1 {
    font-size: 1.7em;
  }
  .work .work_box .work_title h3 {
    margin-bottom: 2em;
  }
  .work .work_box .work_con {
    margin-left: 1em;
    margin-right: 1em;
  }
  .contact .contact_box .contact_title h1 {
    font-size: 1.7em;
  }
  .contact .contact_box .contact_con h1 {
    margin-left: 1em;
    margin-right: 1em;
  }
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 700px) {
  .about {
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 15px;
    padding-right: 15px;
  }
  .about .about_right .about_title h3 {
    font-size: 1.7em;
  }
  .about .about_right .about_title p {
    font-size: 1em;
  }
  .team {
    padding: 2.5em 0;
  }
  .team .team_box h3 {
    font-size: 1.7em;
  }
  .services {
    padding: 2.5em 0;
  }
  .services .big_box .big_title h1 {
    font-size: 1.7em;
  }
  .clients .clients_box .clients_title h1 {
    font-size: 1.7em;
  }
  .work .work_box .work_item .work_right {
    display: none;
  }
  .work .work_box .work_item .work_select {
    display: block !important;
  }
}
@media screen and (max-width: 650px) {
  .work .work_box .work_thumb_box .work_thumb {
    margin-bottom: 1em;
  }
  .work .work_box .work_thumb_box .work_thumb div img {
    padding-left: 0;
    padding-right: 0;
  }
  .work .work_box .work_thumb_box .work_thumb div .work_thumb_el h1 {
    font-size: 1.2em;
  }
  .work .work_box .work_thumb_box .work_thumb div .work_thumb_el p {
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  .work .work_box .work_thumb_box .work_thumb div .work_thumb_el .thumb_push {
    border: 2px solid #44db26;
    font-size: 2em;
    width: 35px;
    height: 35px;
    line-height: 30px;
  }
}
@media screen and (max-width: 550px) {
  .work .work_box .work_thumb_box .work_thumb div .work_thumb_el h1 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1em;
  }
  .work .work_box .work_thumb_box .work_thumb div .work_thumb_el p {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    font-size: 1em;
  }
  .up {
    width: 55px;
    height: 55px;
    position: fixed;
    right: 45px;
    bottom: 45px;
  }
  .up a img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 500px) {
  .team .team_box .team_media {
    margin-bottom: 1em;
  }
  .services .big_box .big_media {
    margin-bottom: 1em;
  }
  .work .work_box .work_item .work_list .work_left {
    width: 100%;
  }
}
@media screen and (max-width: 440px) {
  .banner {
    height: 600px;
  }
  .banner .banner_box {
    margin: 5em auto;
  }
  .banner .banner_box h3 {
    font-size: 2rem;
  }
  .banner .banner_box .banner_info {
    font-size: 1.2rem;
  }
  .banner .banner_box .banner_more {
    margin-top: 5.9em;
  }
  .about {
    padding-top: 2em;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .about .about_right .about_title h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .about .about_right .about_con {
    height: 75px;
    overflow-y: scroll;
  }
  .about .about_right ul .about_li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .team .team_box .team_media {
    height: 150px;
    margin-bottom: 0.7em;
  }
  .team .team_box .team_media .team_lefts {
    padding-right: 0;
  }
  .team .team_box .team_media .team_lefts a img {
    width: 122px;
    height: auto;
  }
  .team .team_box .team_media .team_rights h1 {
    font-size: 0.7em;
  }
  .team .team_box .team_media .team_rights p {
    margin-top: 0;
    font-size: 0.7em;
  }
  .services .big_box .big_media {
    height: 150px;
    margin-bottom: 0.7em;
  }
  .services .big_box .big_media .big_lefts {
    padding-right: 0;
  }
  .services .big_box .big_media .big_lefts a img {
    width: 122px;
    height: auto;
  }
  .services .big_box .big_media .big_rights h1 {
    font-size: 0.7em;
  }
  .services .big_box .big_media .big_rights p {
    margin-top: 0;
    font-size: 0.7em;
  }
  .work .work_box .work_thumb_box {
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
  .work .work_box .work_thumb_box .work_thumb {
    padding-left: 0.7em;
    padding-right: 0.7em;
    margin-bottom: 0.7em;
  }
  .work .work_box .work_thumb_box .work_thumb div .work_thumb_el .thumb_push {
    display: none;
  }
  .foot .foot_box .box_left {
    padding: 0 15px;
    font-size: 0.7em;
  }
}
@media screen and (max-width: 376px) {
  .about .about_right a {
    margin: 2.7em 0;
  }
  .team .team_box .team_media {
    height: 125px;
    margin-bottom: 0.5em;
  }
  .services .big_box .big_title h1 {
    font-size: 1.5em;
  }
  .services .big_box .big_media {
    height: 125px;
    margin-bottom: 0.5em;
  }
  .services .big_box .big_media .big_rights p {
    font-size: 0.7em;
    font-weight: 700;
  }
  .clients .clients_box .clients_title h1 {
    font-size: 1.5em;
  }
  .work .work_box .work_thumb_box .work_thumb div .work_thumb_el h1 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8em;
  }
  .work .work_box .work_thumb_box .work_thumb div .work_thumb_el p {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    font-size: 0.8em;
  }
  .work .work_box .work_thumb_box .work_thumb div .work_thumb_el .thumb_push {
    display: none;
  }
  .testimonials .testimonials_box .testimonials_title h1 {
    font-size: 1.6em;
  }
  .up {
    width: 55px;
    height: 55px;
    position: fixed;
    right: 23px;
    bottom: 23px;
  }
  .up a img {
    width: 100%;
    height: auto;
  }
}
