

/* 重置样式 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 给页面的字体大小做一个初始化 */
html{
    /* 16px = 1rem */
    font-size: 16px;
    user-select: none;
}

/* -----  自己写的重置样式  -----*/
.container,.container-fluid{
    padding-left:0;
    padding-right:0;
}

* {
    /* 全部元素全部不可被选中 */
    user-select: none;
}
html {
    /* 缓动动画 */
    scroll-behavior: smooth;
}

a {
    display: inline-block;
}

span {
    display: inline-block;
}

button {
    transition: all .5s;
}

img {
    display: inline-block;
}

@font-face{
    font-family: OSBold;
    src: url('../fonts/OpenSans-Bold.ttf');
  }
  
  /* 鏂滀綋 */
  @font-face{
    font-family: OSLtalic;
    src: url('../fonts/OpenSans-Italic.ttf');
  }
  
  /* 杞� */
  @font-face{
    font-family: OSLight;
    src: url('../fonts/OpenSans-Light.ttf');
  }

  @font-face{
    font-family: OSbanner;
    src: url('../fonts/字魂59号-创粗黑.ttf');
  }